*tmp*
/Basic_Python_Diploma/downloads/*
access_token.json

/Basic_Python_Diploma/NF/
/Basic_Python_Diploma/test/
08_/
09_/
Basic_Python_Diploma/access_token1.json
Basic_Python_Diploma/biggest_file_info.json
Basic_Python_Diploma/biggest_folder_info.json
__init__.py
